<strong>Olá, {{ provider }}</strong>
<p>Houve um novo agendamento.</p>
<p>
  <strong>Cliente: </strong>{{ user }}
  <br />
  <strong>Data/horas: </strong>{{ date }}
  <br />
  <small>O horário está reservado</small>
</p>
