Olá,<strong> {{ name }}</strong>
<p>Bem-vindo ao sistema de agendamentos.</p>
<p>
  <strong>Nunca compartilhe a sua senha.</strong>
  <br />
  <small>A equipe GoBarber agradece a sua inscrição.</small>
</p>
